@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Kumbh+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 24px;
}

#logo img {
  width: 40px;
  height: 40px;
  margin-left: 24px;
}

.menu {
  display: none;
}

.menu__btn {
  width: 24px;
  height: 21px;
  margin-right: 24px;
}

#hamburger {
  display: block;
  position: absolute;
  z-index: 1;
}

#close {
  display: none;
  position: absolute;
  z-index: 2;
}

.mobile__nav {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.mobile__menu {
  display: flex;
  justify-content: initial;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 232px;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  padding: 118px 32px;
}

.mobile__menu__item {
  list-style: none;
  margin-bottom: 2rem;
  transition: all 0.5s ease-in;
}

.mobile__menu__item a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.mobile__menu__item a strong {
  display: none;
}

.mobile__menu__item a:hover::before {
  content: ">";
  width: 100%;
  height: 3px;
  position: relative;
  transition: all 0.5 linear;
}

@media screen and (min-width: 768px) {
  .menu__nav {
    height: 96px;
    margin-top: 0px;
  }
  #logo img {
    width: 48px;
    height: 48px;
    margin-left: 39px;
  }
  .menu__btn {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59%;
    height: 100%;
    padding: 0 6%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }
  .menu__item {
    list-style: none;
    position: relative;
    height: 100%;
  }
  .menu__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    height: 100%;
  }
  .menu__item a strong {
    display: none;
  }
  .menu__item:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
  }
  .mobile__nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .menu__nav {
    margin-top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  #logo {
    margin-left: 55px;
  }
  #line {
    width: 32.84%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    left: 11.59%;
  }
  .menu {
    padding: 0 7%;
  }
  .menu__item a {
    font-size: 16px;
  }
  .menu__item a strong {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
